body{
	margin: 0 auto;
}
.headerPrincipal{
	background-color: black;
	padding: 5px;
}
.headerPrincipal img{
	filter: invert(0.4);
}
.footer{
	background-color: #000;
	color: white;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-family: 'Lato', sans-serif;

}
.sectionPrincipal{
	display: grid;
	grid-auto-columns: 100%; 
}
.sectionPrincipal nav{
	background-color: rgb(53, 51, 51);
}
.sectionPrincipal nav ul{
	list-style-type: none;
	margin: 0;
	padding-left: 5px;
}
.sectionPrincipal nav ul li a{
	display: block;
	text-decoration: none;
	line-height: 35px;
	color: #fff;
	font-family: 'Lato', sans-serif;
	box-shadow:  #fff 2px;
}
.sectionPrincipal nav ul li a:hover{
	color: gray;
}
.sectionPrincipal article{
	background-color: silver;
	font-family: 'Lato', sans-serif;
	padding: 10px;
}
@media screen and (max-width: 1024px) and (min-width: 640px){
	.sectionPrincipal{
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-template-areas: 
	"header header header header"
	"my-nav my-nav my-content my-content";
	}

	.headerPrincipal{
		background-color: #fff;
		grid-area: header;
	}
	.headerPrincipal img{
	filter: none;
	}
	.sectionPrincipal nav{
		grid-area: my-nav;
	}
	.sectionPrincipal article{
	background-color: silver;
	grid-area: my-content;
	grid-row-end: -1;

	}
	.footer{
		background-color: rgb(25,129,225);
	}
}
	@media screen and (min-width:1024px) {
	    .sectionPrincipal{
	    	display: flex;
	    }
	    .headerPrincipal{
	    	background-color: #fff;
	    }
	    .headerPrincipal img{
	    	filter: none;
	    }
	    .sectionPrincipal nav{
	    	width: 20%;
	    	height: 100vh;
	    }
	    .sectionPrincipal article{
	    	height: 100vh;
	    	background-color: silver;
	    	width: 80%;  
	    }
	    .footer{
	    	background-color: rgb(25,129,225);
	    }
	}
@font-face{
	font-family: 'Lato';
	font-display: swap;
	font-style: italic;
	src: url('lato Harline italic'), url('../font/Lato.woff2') format('woff2');
}